doctype
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Je Suis Prest
        script(src="vendor/svgeezy/svgeezy.min.js")
        script(src='js/JSP.js')
        link(rel="stylesheet", type="text/css", href="css/css.css")
    body.fullBackground
        div#wrapper
            p.center
                img#jspHeader(src="img/text_jsp.svg", alt="Je Suis Prest")
            p.center.large We're sorry, there seems to be an error.<br>Please make sure your image is a JPEG and your filesize is under 3.5MB.<br>Click the button below if you'd like to try again.
            p.center
                a(href="index.php?new=true")
                    img#createNew.UIelementLarge.hotspot(src="img/ui_prev.svg", alt="")